<form [formGroup]="form_newspaper" (ngSubmit)="onSubmit()">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Газета</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" label="Назва газети:" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"  label="Номер газети:"  formControlName="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"  label="Дата публікації: " formControlName="pub_date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"  label="Кількість сторінок: " formControlName="page_num"></ion-input>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Статті</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="addArticle()">
        <ion-icon slot="start" name="add"></ion-icon>
        Додати статтю
      </ion-button>
      <ion-item *ngFor="let item of getControls(); let i = index">
        <ion-input type="text" placeholder="Назва статті" formControlName="{{i}}"></ion-input>
        <ion-button color="danger" (click)="deleteArticle(i)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Видалити статтю
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button type="submit" expand="block" >
    Відправити
  </ion-button>
</form>
